[Unit]
Description=Resin.io User Application

[Service]
WorkingDirectory=/usr/bin/
EnvironmentFile=/etc/docker.env
ExecStartPre=/bin/sh -c "echo -------------------Starting Application------------------- "
ExecStart=/etc/resinApp.cmd

[Install]
WantedBy=basic.target