[Unit]
Description=Resin.io User Application

[Service]
WorkingDirectory=/usr/bin/
EnvironmentFile=/etc/docker.env
ExecStart=/etc/docker.cmd

[Install]
WantedBy=basic.target