[Unit]
Description=trigger update of /dev

[Service]
Type=oneshot
Requires=systemd-udevd.service
After=systemd-udevd.service
ExecStart=/bin/bash -c udevadm trigger
Before=launch.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target